body {
  font-family: Raleway;
}

.titleContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  width: 400px;
  transition: 1s;
}

.img {
  width: 100%;
}

.title {
  color: #2B2D42;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 1.4s;
}

.titleSpan {
  color: #EF303B;
}

.btnStart {
  margin-top: 80px;
  background: none;
  border: 5px solid #2B2D42;
  padding: 30px 80px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.game {
  margin-top: 50px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.questionContainer {
  width: 345px;
  opacity: 0;
  transition: 3s;
}

.question {
  margin: auto;
  display: none;
  background: #2B2D42;
  color: #fff;
  text-align: center;
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;
  margin-top: -15px;
}

.answer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

.answerYes {
  opacity: 0;
  transition: 0.6s;
  font-family: Raleway;
  font-size: 20px;
  text-align: center;
  background: #EF303B;
  color: #fff;
  border: 3px solid #fff;
  width: 70px;
  height: 70px;
  cursor: pointer;
  outline: none;
}

.answerNo {
  opacity: 0;
  transition: 0.6s;
  font-family: Raleway;
  font-size: 20px;
  text-align: center;
  background: #EF303B;
  color: #fff;
  border: 3px solid #fff;
  width: 70px;
  height: 70px;
  cursor: pointer;
  outline: none;
}